@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+SC:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*----RESET----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Ysabeau Infant', sans-serif;
  font-family: 'Ysabeau SC', sans-serif; }

header {
  font-family: 'Ysabeau Infant', sans-serif;
  font-family: 'Ysabeau SC', sans-serif; }
  header nav div div form {
    color: white; }

.banner-in {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://images.pexels.com/photos/1657332/pexels-photo-1657332.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.navbar-in {
  width: 85%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  width: 120px;
  cursor: pointer; }

.navbar-in ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative; }

.navbar-in ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }

.navbar-in ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: grey;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s; }

.navbar-in ul li:hover::after {
  width: 100%; }

.content-in {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff; }

.content-in h1 {
  font-size: 50px;
  margin-top: 80px; }

.content-in p {
  margin: 20px auto;
  font-weight: 150;
  line-height: 25px; }

.boton-in button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid grey;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden; }

.boton-in span {
  background: grey;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s; }

.boton-in button:hover span {
  width: 100%; }

.boton-in button:hover {
  border: none; }

h2 {
  font-size: 50px;
  text-align: left; }

p {
  font-size: 20px; }

#fondo-in {
  background-color: whitesmoke; }

.servicios {
  display: flex;
  justify-content: space-between; }
  .servicios div {
    width: 300px;
    height: 320px;
    border: 1px solid black;
    text-align: center;
    margin: 20px;
    display: inline-block;
    border-radius: 7px;
    box-shadow: 23px 15px 45px 4px rgba(114, 4, 4, 0.992);
    -webkit-box-shadow: 23px 15px 45px 4px rgba(28, 64, 147, 0.65);
    -moz-box-shadow: 23px 15px 45px 4px rgba(28, 64, 147, 0.65);
    transition: 1s; }
    .servicios div:hover {
      transform: scale(1.1); }
    .servicios div img {
      width: 300px;
      height: 250px; }
  .servicios h3 {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.589);
    font-size: 20px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-family: 'Ysabeau SC', sans-serif; }
  .servicios a {
    font-size: 20px;
    text-decoration: none;
    color: Black;
    background-color: whitesmoke; }
    .servicios a:active {
      background-color: grey;
      color: whitesmoke; }

.position img {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 100px;
  right: 50px; }

.cartas {
  display: flex;
  justify-content: space-around; }
  .cartas div div h3 {
    font-size: 20px;
    font-style: italic;
    font-family: 'Ysabeau Infant', sans-serif;
    font-family: 'Ysabeau SC', sans-serif; }

.card {
  background-color: rgba(128, 128, 128, 0.238); }

.formulario {
  margin: 10px;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.495);
  font-family: 'Ysabeau Infant', sans-serif;
  font-family: 'Ysabeau SC', sans-serif; }

.ubicacion {
  display: flex;
  justify-content: space-around; }

.nosotros {
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .nosotros p {
    font-size: 30px; }
  .nosotros img {
    width: 300px;
    height: 500px; }

.gale {
  font-size: 40px;
  text-align: left;
  font-family: 'Ysabeau Infant', sans-serif;
  font-family: 'Ysabeau SC', sans-serif; }

.grid-galeria {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 15px; }
  .grid-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.grid-item {
  box-shadow: 23px 15px 45px 4px rgba(17, 23, 38, 0.65);
  -webkit-box-shadow: 23px 15px 45px 4px rgba(25, 33, 51, 0.65);
  -moz-box-shadow: 23px 15px 45px 4px rgba(13, 18, 29, 0.65);
  position: relative; }
  .grid-item h3 {
    position: absolute;
    bottom: 0;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.507);
    width: 100%;
    text-align: center; }

.img-4 {
  grid-column: span 2; }

.img-3 {
  grid-row: span 2; }

.img-9 {
  grid-column: span 2; }

.grid-galeria div img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.574); }

h4 {
  font-size: 25px; }

div a img {
  width: 30px;
  height: 30px; }

@media screen and (max-width: 1150px) {
  .ubicacion {
    flex-direction: column; } }

@media screen and (max-width: 1100px) {
  .servicios {
    flex-direction: column; } }

@media screen and (max-width: 950px) {
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px; }
  .nosotros {
    flex-direction: column; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; }
  .img-9 {
    grid-column: span 2; }
  .position {
    display: none; } }

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  .content-in h1 {
    font-size: 50px; }
  .content-in p {
    font-weight: 100; } }

@media screen and (max-width: 450px) {
  .grid-galeria {
    grid-template-columns: 1fr; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }
