header {
    font-family: 'Ysabeau Infant', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;

    nav {
        div {

            a 

            button {

                span {}
            }

            div {

                ul {

                    li {
                        a {}
                    }

                    li {
                        a {}
                    }

                    li {
                        a {}

                        ul {
                            li {
                                a {}
                            }

                            li {
                                a {}

                                li {
                                    a {}
                                }
                            }

                            li {
                                a {}
                            }
                        }
                    }
                }

                form {
                    color: white;

                    label {}

                    input {}

                    button {}
                }

            }
        }
    }
}