.hero {
    div {
        img {}

        div {

            h5 {
                font-size: 70px;
                font-family: 'Ysabeau Infant', sans-serif;
                font-family: 'Ysabeau SC', sans-serif;
            }

            p {
                font-size: 30px;
                font-family: 'Ysabeau Infant', sans-serif;
                font-family: 'Ysabeau SC', sans-serif;

            }
        }
    }
}

h2 {
    font-size: 50px;
    text-align: left;
}

.servicios {
    display: flex;
    justify-content: space-between;

    div {
        width: 300px;
        height: 310px;
        border: 1px solid black;
        text-align: center;
        margin: 20px;
        display: inline-block;
        border-radius: 7px;
        box-shadow: 23px 15px 45px 4px rgba(28, 64, 147, 0.65);
        -webkit-box-shadow: 23px 15px 45px 4px rgba(28, 64, 147, 0.65);
        -moz-box-shadow: 23px 15px 45px 4px rgba(28, 64, 147, 0.65);
        transition: 1s;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 300px;
            height: 250px;
        }
    }

    h3 {
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.589);
        font-size: 20px;
        font-family: 'Ysabeau Infant', sans-serif;
        font-family: 'Ysabeau SC', sans-serif;
    }

    a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        background-color: whitesmoke;

        &:hover {
            background-color: grey;
        }

        &:active {
            background-color: grey;
            color: whitesmoke;
        }
    }
}

.position {

    img {
        width: 30px;
        height: 30px;
        position: fixed;
        bottom: 100px;
        right: 50px;
    }
}

.cartas {
    display: flex;
    justify-content: space-around;

    div {
        img {

        }

        div {
            h5 {
                font-size: 20px;
                font-style: italic;
                font-family: 'Ysabeau Infant', sans-serif;
                font-family: 'Ysabeau SC', sans-serif;
            }

            p {}

            a {}
        }
    }
}

.card {
    background-color: rgba(128, 128, 128, 0.238);
}

.formulario{
    margin: 10px;
    padding: 50px;
    background-color: rgba(128, 128, 128, 0.495);
    font-family: 'Ysabeau Infant', sans-serif;
font-family: 'Ysabeau SC', sans-serif;
    h2{

    }form{

        div{

        }
    }
}

.ubicacion{
    display: flex;
    justify-content: space-around;
}

.nosotros{
    display: flex;
    text-align: center;
    justify-content: space-around;
    p{
        font-size: 30px;
    }
    img{
        width: 400px;
        height: 700px;
        margin-right: 5px;

    }
}

.gale{
    font-size: 40px;
    text-align: left;
    font-family: 'Ysabeau Infant', sans-serif;
font-family: 'Ysabeau SC', sans-serif;
}

.grid-galeria{
    margin-top: 50px;
    width: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    img{
        width: 10px;
        height: 10px;
        object-fit: cover;
    }
    h3{

    }
}

.grid-item{
    box-shadow: 23px 15px 45px 4px rgba(17, 23, 38, 0.65);
    -webkit-box-shadow: 23px 15px 45px 4px rgba(25, 33, 51, 0.65);
    -moz-box-shadow: 23px 15px 45px 4px rgba(13, 18, 29, 0.65);
    position: relative;
    img{

    }
    h3{
        position: absolute;
        bottom: 0;
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.507);
        width: 100%;
        text-align: center;
    }
}